---
import Button from '@components/base/Button.astro';
import Header from '@components/base/Header.astro';
import Section from '@components/base/Section.astro';
import OneClientDownloadDropdown from '@components/page/oneclient/OneClientDownloadDropdown.astro';
import Layout from '@layouts/Layout.astro';

export const prerender = false;
---

<div class="fixed h-screen w-screen bg-dark-background -z-1"></div>
<Layout dark title="OneClient">
	<Section
		class="mb-12 mt-12 h-screen flex-col items-center justify-center md:min-h-[600px]"
	>
		<div class="aspect-video h-auto max-w-2xl w-full bg-gray-50">
			<iframe
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen
				class="h-full w-full"
				referrerpolicy="strict-origin-when-cross-origin"
				src="https://www.youtube.com/embed/al-59UpjjLw?color=white&autoplay=1&disablekb=1&cc_load_policy=0&loop=1&playsinline=1"
				title="YouTube video player"
			></iframe>
		</div>
		<div class="flex flex-col items-center justify-center gap-y-4">
			<Header
				align="center"
				class="max-w-[600px] text-dark-primary"
				size="lg"
			>
				A new client, for a new world.
			</Header>
			<div
				class="flex flex-row flex-wrap items-center justify-center gap-2"
			>
				<OneClientDownloadDropdown />
				<Button
					href="/blog/oneclient-announcement"
					iconLeft="book-open"
					style="secondary"
					text="FAQ"
				/>
				<Button
					href="/discord"
					iconLeft="user"
					style="secondary"
					text="Support"
				/>
			</div>
		</div>
	</Section>
</Layout>
